@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansRegular.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansSemiBold.ttf") format("ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansBold.ttf") format("ttf");
    font-style: normal;
    font-weight: 700;
}


