.footer {
    padding: 20px 0 70px;

    &-columns {
        display: flex;
        justify-content: space-around;
    }

    &-column {
        display: flex;
        width: calc(50% - 8px);

        &-left {
            justify-content: space-around;
        }

        &-right {
            justify-content: center;
        }
    }

    &-title {
        margin-top: 0;
        margin-bottom: 18px;
    }

    &-item {
        margin-bottom: 0.57rem;

        &:last-child {
            margin-bottom: 0;
        }

        &-box {
            display: flex;
            flex-direction: column;
            min-width: 110px;
        }
    }

    &-subscribe {
        width: 100%;
        max-width: 452px;

        &-title {
            margin-top: 0;
            margin-bottom: 37px;
            letter-spacing: 0.1px;
        }

        &-email {
            width: 100%;
            border: none;
            padding: 0.85rem 20px;
            border-bottom: 1px solid #c4c4c4;
            margin-bottom: 2.5rem;
            outline: none;
        }

        &-btn-cross {
            position: absolute;
            right: 2px;
            top: 8px;
            padding: 0.3rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        .form {
            position: relative;
        }

        .button {
            display: block;
            margin-left: auto;
        }
    }
}
