.gallery {
    margin-bottom: 108px;

    @include media-to(768px) {
        margin-bottom: 42px;
    }

    @include media-to(375px) {
        margin-bottom: 14px;
    }

    &-link-box {
        text-align: center;
        margin-bottom: 1.78rem;

        @include media-to(768px) {
            margin-bottom: 4.14rem;
        }
    }

    &-link {
        display: inline-block;
        vertical-align: baseline;
        line-height: 0.95;
        border-bottom: 1px solid $color-light;
    }

    .columns {
        display: flex;
        justify-content: space-between;

        @include media-to(768px) {
            flex-direction: column;
        }
    }

    .column {
        width: calc(50% - 8px);


        @include media-to(768px) {
            width: auto;
            margin: 0 -20px;
        }
    }

    .column-4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .gallery-box {
            width: calc(50% - 8px);
            margin-bottom: 16px;

            @include media-to(375px) {
                width: calc(50% - 5px);
                margin-bottom: 9px;
            }
        }
    }

    &-box {
        position: relative;
        display: block;
        overflow: hidden;


        &:hover {
            .gallery-info {
                transform: none;
            }
        }

        &-image {
            display: block;
            max-width: 100%;

            @include media-to(768px) {
                width: 100%;
            }
        }

        &-lg {
            @include media-to(768px) {
                margin-bottom: 1.07rem;
            }

            @include media-to(375px) {
                margin-bottom: 8px;
            }
        }
    }

    &-info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        color: #ffffff;
        padding: 16px 16px 20px;
        background: rgba($color-brand, 0.8);
        transform: translateY(100%);
        transition: 0.5s transform;

        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: space-between;
        }

        &-top-icon {
            align-self: end;
        }

        &-main-icon {
            text-align: center;
        }

        &-like-icon {
            margin-bottom: -4px;
        }
    }
}
