.gallery {
    margin-bottom: 108px;

    @include media-to(768px) {
        margin-bottom: 42px;
    }

    &-link-box {
        text-align: center;
        margin-bottom: 1.78rem;

        @include media-to(768px) {
            margin-bottom: 4.14rem;
        }
    }

    &-link {
        display: inline-block;
        vertical-align: baseline;
        line-height: 0.95;
        border-bottom: 1px solid $color-light;
    }

    .columns {
        display: flex;
        justify-content: space-between;

        @include media-to(768px) {
            flex-direction: column;
        }
    }

    .column {
        width: calc(50% - 8px);


        @include media-to(768px) {
            width: auto;
            margin: 0 -20px;
        }
    }

    .column-4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .gallery-box {
            width: calc(50% - 8px);
            margin-bottom: 16px;
        }
    }

    &-box {
        display: block;

        &-image {
            display: block;
            max-width: 100%;

            @include media-to(768px) {
                width: 100%;
            }

        }

        &-lg {

            @include media-to(768px) {
                margin-bottom: 1.07rem;
            }
        }
    }


}
