.header {
    padding: 11px 0 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.78rem;

    &-menu {
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        font-weight: 700;
        font-size: 1.5714rem;
    }

    &-buttons {
        display: flex;
        padding-right: 7px;
    }

    &-button {
        margin-right: 2.3rem;

        &:last-child {
            margin-right: 0;
        }
    }
}