.header {
    padding: 11px 0 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.78rem;

    @include media-to(768px) {
        box-shadow: none;
        margin-bottom: 0;
        padding: 22px 0 28px;
    }

    &-menu {
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        font-weight: 700;
        font-size: 1.5714rem;
    }

    &-buttons {
        display: flex;
        padding-right: 7px;
    }

    &-button {
        margin-left: 2.3rem;
    }

    &-burger {
        @include media-to(768px) {
            display: block;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
}